*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


/* utilities */

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 1.6em 5em;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button {
    font-family: inherit;
    border-radius: 3px;
    outline: none;
}

button:hover {
    opacity: .95;
}

:root {
    --orange: #c91f01;
    --mainBlue: #00090a;
    --blueLight: #8dc2c2b7;
}

body {
    font-family: 'Poppins', serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Righteous', serif;
    color: var(--orange);
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 90px;
    background-color: var(--mainBlue);
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1em 0 1em 1em;
}

.logo img {
    height: 2rem;
    width: 2rem;
    margin-right: .4em;
}

.main-nav {
    position: absolute;
    right: 20%;
    bottom: 0em;
    display: none;
}

.main-nav ul {
    display: flex;
}

.main-nav a {
    display: block;
}

.main-nav .list>li {
    height: calc(80px -1em);
    padding: 1.2em 1em;
    font-weight: bold;
    color: #fff;
    border-bottom: 8px solid var(--mainBlue);
    border-radius: 4px;
}

.main-nav .list>li:hover {
    background-color: #fff;
    color: var(--orange);
}

.main-nav .dest {
    position: relative;
    cursor: pointer;
    margin-right: 4px;
}

.main-nav .dest::after {
    content: '>';
    position: absolute;
    right: 1.5px;
    transform: rotateZ(90deg) scaleY(1.3);
    transition: transform 300ms linear;
}

.main-nav .dest:hover::after {
    transform: rotateZ(-90deg) scaleY(1.3);
}

.main-nav .dest .more {
    display: block;
    width: 200px;
    background-color: #fff;
    border: 1px solid var(--blueLight);
    border-radius: 3px;
    font-weight: normal;
    position: absolute;
    top: 100%;
    left: 20%;
    clip-path: inset(0 0 100% 0);
}

.main-nav .dest:hover .more {
    animation: more 300ms linear forwards;
}

@keyframes more {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.main-nav .more li {
    color: var(--mainBlue);
    padding: .5em;
}

.main-nav .more li:hover {
    background-color: var(--blueLight);
}

.hamb {
    background: #ffffff;
    width: 30px;
    height: 4px;
    position: absolute;
    right: 2em;
    bottom: .5em;
    cursor: pointer;
    z-index: 300;
}

.hamb::after,
.hamb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
}

.hamb::after {
    top: -6px;
}

.hamb::before {
    bottom: -6px;
}

.small-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: calc(100vw - 2em);
    height: 100vh;
    padding: 2em 1em;
    background-color: #fff;
    transform: translateX(110vw);
    transition: 300ms linear;
    pointer-events: none;
}

.small-menu.open {
    transform: translateX(0);
}

.small-menu li {
    text-transform: uppercase;
    line-height: 1.5;
    pointer-events: all;
}

.small-menu a {
    display: block;
}

.small-menu a:hover {
    background-color: var(--blueLight);
}

.small-menu span {
    display: none;
}

.small-menu button {
    padding: .5em .6em;
    border-radius: 0;
    background-color: var(--blueLight);
    color: #ff0000;
    position: absolute;
    top: 0;
    left: -1.6em;
    pointer-events: all;
}


/* footer */

footer {
    min-height: 50vh;
    background-color: var(--blueLight);
    padding: 1em 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer .logo {
    padding: 0;
}

footer>div {
    width: 300px;
    padding-bottom: 2em;
}

footer h2 {
    color: var(--orange);
}

footer>div:last-child p {
    margin-top: 3em;
}

.foot-socials {
    display: flex;
}

.foot-socials li {
    padding-left: 0;
}

footer li {
    padding-left: 1em;
}

footer li:hover {
    text-decoration: underline;
}

footer i {
    color: var(--orange);
    padding: .5em;
    border-radius: 3px;
}

.trustees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
}

.trustees img {
    width: 60px;
    height: 60px;
    margin: 7px 7px 7px 0;
}

#root>div {
    padding-bottom: 2em;
}

.hero-bg {
    min-height: 100vh;
    width: 100vw;
    background: url(https://images.pexels.com/photos/870711/pexels-photo-870711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1024);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-top: 80px;
}

.highlight h1 {
    font: bold 2rem;
    max-width: 500px;
}

.hero-text {
    position: relative;
    background-color: #080808d0;
    backdrop-filter: blur(2px);
    min-height: calc(100vh - 80px);
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text p {
    max-width: 500px;
}

.align-left {
    width: 500px;
}

.cta {
    background-color: transparent;
    color: var(--mainBlue);
    padding: 1.3em 3em;
    border-radius: 30px;
    margin-top: 3em;
    position: relative;
    outline: none;
    overflow: hidden;
    font-weight: bold;
}

.cta::after,
.cta::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #fff;
    z-index: -2;
    border-radius: inherit;
}

.cta::after {
    background-color: var(--blueLight);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms 200ms;
    z-index: -1;
}

.cta:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.cta:hover {
    color: var(--orange);
    opacity: 1;
}

#services h1 {
    text-align: center;
    padding: 1.3em 0;
}

.service-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    min-height: 350px;
    background-color: #fff;
    border: 1px solid var(--mainBlue);
    padding: 1em .5em;
    margin-bottom: 2em;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}

.card::after {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    content: '';
    background-color: var(--mainBlue);
    border-radius: inherit;
    z-index: -1;
    transform: rotateZ(2deg);
    transition: transform 300ms ease-in-out;
}

.card:hover::after {
    transform: rotateZ(-1deg);
}

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card i {
    height: 60px;
    width: 60px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h2 {
    color: var(--orange);
}

.card p {
    color: var(--mainBlue);
    padding: 1em 1.2em;
    font-weight: normal;
}

#services button,
.popular button {
    background-color: var(--mainBlue);
    color: #fff;
}

#services button {
    display: block;
    margin: 2em auto;
}


/* carousel */

#popular-section h1 {
    text-align: center;
    padding-bottom: 2em;
}

#popular-section {
    padding-bottom: 2em;
}

.swiper-slide.swiper-slide.popular {
    background-color: #8dc2c2b7;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 370px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular h2,
.popular h3 {
    text-transform: capitalize;
}

.cat {
    color: var(--orange);
}

.popular {
    color: var(--mainBlue);
}

.popular label {
    display: block;
    font-weight: bold;
}

.buttons {
    margin-top: 2em;
}

.buttons button {
    padding: .8em 1em;
}

.buttons button:last-child {
    background-color: #fff;
    color: var(--mainBlue);
    border: var(--mainBlue) solid 1px;
    margin-left: 1em;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--mainBlue);
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}


/* Destinations */

.destinations {
    padding-top: 80px;
}

.search-bar {
    width: 100vw;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 70vw;
    height: 40px;
    padding-left: 1em;
    font-family: inherit;
    text-align: center;
    outline: none;
    border: 1px solid var(--mainBlue);
    border-radius: 35px;
}

.destination {
    background-size: 100% 100%;
    margin: 2em 0;
}

.description {
    background-color: #3cd3d36c;
    backdrop-filter: blur(8px);
    padding: 1em;
}

.user-message {
    text-align: center;
    padding: 1em;
}

.description h2 {
    display: inline-block;
    font-size: 1.2rem;
}

.description i,
.description h2 {
    color: var(--orange);
}

.description h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--mainBlue);
}

.destination label {
    font-weight: bold;
}

.description p {
    padding-top: 2em;
    color: var(--mainBlue);
}

.destination .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--orange);
}

.destination button {
    display: block;
    margin-top: 2em;
    background-color: var(--mainBlue);
    color: #fff;
}


/* Booking */

.booking {
    padding-top: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking h1 {
    text-transform: capitalize;
    padding: 0 1em;
}

.tour-info {
    padding: 2em 0 0 .5em;
}

.booking label {
    display: block;
    padding: .5em 0;
}

.booking input,
.booking textarea {
    width: 85vw;
    padding-left: 2em;
    border: 1px solid var(--mainBlue);
}

.booking textarea {
    padding-top: 1em;
}

.booking input {
    height: 40px;
}

.booking button {
    background-color: var(--mainBlue);
    color: #fff;
}


/* About */

.about {
    padding: 105px 2em 2em 2em;
}

.about h1 {
    text-align: center;
}

.testimonials {
    background-color: #fff;
}

.testimonials>div {
    position: relative;
    height: 500px;
    width: 90%;
    padding-top: 2em;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial {
    position: absolute;
    top: 3rem;
    left: 0;
    min-height: calc(300px - 3rem);
    padding: 1em 2em;
    background-color: #fff;
    clip-path: inset(0 100% 0 0);
    border: 1px solid var(--mainBlue);
    border-radius: 10px;
    color: var(--mainBlue);
}

.testimonial h2 {
    color: var(--orange);
}

.testimonial.active {
    animation: test 600ms linear forwards;
}

@keyframes test {
    to {
        clip-path: inset(0 0 0 0);
    }
}


/* contacts */

.contacts {
    padding-top: 100px;
}

.contacts h1,
.testimonials h1 {
    text-align: center;
}

.contacts-info>div,
.contacts-info form {
    padding: 2em;
}

.contacts-info label {
    font-weight: bold;
    color: var(--mainBlue);
}

.contacts i {
    color: var(--orange);
    padding-right: 1em;
}

.contacts-info li:hover {
    text-decoration: underline;
}

.contacts input,
.contacts textarea {
    width: 85vw;
    padding-left: 1em;
    border: 1px solid var(--mainBlue);
}

.contacts input {
    height: 40px;
    margin: .5em 0;
}

.contacts textarea {
    margin-top: 1em;
}

select-pure {
    --select-height: 44px;
    --select-width: 85vw;
    --border-radius: 4px;
    --border-width: 1px;
    --border-color: var(--mainBlue);
    --padding: 0 10px;
    --dropdown-z-index: 2;
    --disabled-background-color: #bdc3c7;
    --disabled-color: #ecf0f1;
    --background-color: #fff;
    --color: var(--mainBlue);
    --hover-background-color: #def7f7f6;
    --selected-background-color: var(--blueLight);
    --selected-color: var(--mainBlue);
    --dropdown-gap: 0;
    --font-size: 14px;
    --font-family: inherit;
    --font-weight: 400;
    --select-outline: 1px solid var(--mainBlue);
    --dropdown-items: 6;
    margin-bottom: 2em;
}

.contacts button {
    background-color: var(--mainBlue);
    color: #fff;
}

@media (min-width:480px) {
    .card {
        width: 300px;
    }
}

@media (min-width:650px) {
    .swiper-button-next:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: block;
        color: var(--mainBlue);
    }
    .cta {
        margin-left: 2em;
        color: red;
    }
    .about {
        padding: 110px 4em 4em 4em;
    }
    .testimonials>div {
        width: 55%;
    }
    .contacts-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts input,
    .contacts textarea {
        width: 60vw;
    }
    .booking input,
    .booking textarea {
        width: 50vw;
        padding-left: 2em;
        border: 1px solid var(--mainBlue);
    }
    select-pure {
        --select-width: 50vw;
    }
}

@media (min-width:850px) {
    .main-nav {
        display: block;
    }
    .hamb {
        display: none;
    }
    .small-menu {
        display: none;
    }
    .swiper-slide.swiper-slide.popular {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .destination {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .destination:nth-child(odd)>.description {
        transform: translateX(100%);
    }
}
