*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


/* utilities */

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button {
    font-family: inherit;
}

body {
    font-family: 'Poppins', serif;
}

h1 {
    font-family: 'Quintessential', serif;
    color: #022a44;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #022a44;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1em 0 1em 1em;
}

.logo img {
    height: 2rem;
    width: 2rem;
    margin-right: .4em;
}

.logo h1 {
    color: #fff;
}

.main-nav {
    position: absolute;
    right: 25%;
    bottom: 0em;
}

.main-nav ul {
    display: flex;
}

.main-nav a {
    display: block;
}

.main-nav .list>li {
    height: calc(80px -1em);
    padding: 1.2em 1em;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #022a44;
}

.main-nav .list>li:hover {
    background-color: #fff;
    color: #022a44;
}


/* footer */

footer {
    min-height: 30vh;
    background-color: #8dc2c2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

footer h1 {
    text-align: center;
}

footer .logo {
    padding: 0;
}

footer div {
    width: 300px;
}

footer div:last-child ul {
    display: flex;
}

footer li {
    padding-left: 1em;
}

footer li:hover {
    text-decoration: underline;
}

.trustees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trustees img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.dest {
    position: relative;
    cursor: pointer;
    margin-right: 4px;
}

.dest::after {
    content: '>';
    position: absolute;
    right: 1.5px;
    transform: rotateZ(90deg) scaleY(1.3);
    transition: transform 300ms linear;
}

.dest:hover::after {
    transform: rotateZ(-90deg) scaleY(1.3);
}

.dest .more {
    display: block;
    width: 200px;
    background-color: #fff;
    border: 1px solid #8dc2c2;
    border-radius: 3px;
    font-weight: normal;
    position: absolute;
    top: 100%;
    left: 20%;
    clip-path: inset(0 0 100% 0);
}

.dest:hover .more {
    animation: more 200ms linear forwards;
}

@keyframes more {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.more li {
    color: #022a44;
    padding: .5em;
}

.more li:hover {
    background-color: #8dc2c2;
}

#root>div {
    padding-bottom: 2em;
}

.hero-bg {
    min-height: 100vh;
    width: 100vw;
    background: url(https://images.pexels.com/photos/870711/pexels-photo-870711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1024);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #fff;
    padding-top: 80px;
}

.highlight h3 {
    font-size: 2rem;
    color: #022a44;
    max-width: 500px;
}

.hero-text {
    position: relative;
    background-color: #8dc2c25b;
    backdrop-filter: blur(2px);
    min-height: calc(100vh - 80px);
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text p {
    max-width: 500px;
}

.align-left {
    width: 500px;
}

.cta {
    background-color: transparent;
    color: #022a44;
    padding: 1.3em 3em;
    border-radius: 30px;
    margin-top: 3em;
    position: relative;
    outline: none;
    overflow: hidden;
    font-weight: bold;
}

.cta::after,
.cta::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #fff;
    z-index: -2;
    border-radius: inherit;
}

.cta::after {
    background-color: #8dc2c2;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 700ms 200ms;
    z-index: -1;
}

.cta:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.cta:hover {
    color: #343434;
}

.socials {
    position: absolute;
    left: 2em;
    bottom: 2em;
    display: flex;
    flex-direction: column;
    color: #000;
}

.socials i {
    transition: 300ms ease-in-out;
}

.socials i:hover {
    color: #343434;
    transform: translateX(1px);
}

#services h1 {
    text-align: center;
    padding: 1.3em 0;
}

.service-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 310px;
    min-height: 350px;
    background-color: #8dc2c2;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}

.card::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: #022a44;
    border-radius: inherit;
    z-index: -1;
    transform: rotateZ(1deg);
    transition: transform 300ms ease-in-out;
}

.card:hover::after {
    transform: rotateZ(-1deg);
}

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card i {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h2 {
    color: #022a44;
}

.card p {
    color: #022a44;
    padding: 1em;
}

#services button,
.popular button {
    padding: 1.2em 2em;
    background-color: #022a44;
    border-radius: 3px;
    color: #fff;
}

#services button {
    display: block;
    margin: 2em auto;
}


/* carousel */

#popular-section h1 {
    text-align: center;
}

#popular-section {
    padding-bottom: 2em;
}

.swiper-slide.swiper-slide.popular {
    background-color: #8dc2c293;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
    border-radius: 4px;
    margin: 1em;
    padding: 2em 0;
}

.popular h2,
.popular h3 {
    text-transform: capitalize;
    color: #022a44;
}

.popular label {
    display: block;
    font-weight: bold;
}

.buttons {
    margin-top: 2em;
}

.buttons button:last-child {
    background-color: #fff;
    color: #000;
    border: #022a44 solid 1px;
    transform: translateX(10px);
}

.swiper-slide.swiper-slide.active .popular h3 {
    transform: scaleY(3);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #022a44;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #022a44;
}


/* Destinations */

.destinations {
    /* min-height: 100vh; */
    padding-top: 80px;
}

.search-bar {
    width: 100vw;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 70vw;
    height: 40px;
    padding-left: 1em;
    font-family: inherit;
    text-align: center;
    outline: none;
    border: 1px solid #022a44;
    border-radius: 35px;
}

select-pure {
    --select-height: 44px;
    --select-width: 100%;
    --border-radius: 4px;
    --border-width: 1px;
    --border-color: #022a44;
    --padding: 0 10px;
    --dropdown-z-index: 2;
    --disabled-background-color: #bdc3c7;
    --disabled-color: #ecf0f1;
    --background-color: #fff;
    --color: #022a44;
    --hover-background-color: #8dc2c25b;
    --hover-color: #000;
    --selected-background-color: #8dc2c25b;
    --selected-color: #000;
    --dropdown-gap: 0;
    --font-size: 14px;
    --font-family: inherit;
    --font-weight: 400;
    --select-outline: 2px solid #e3e3e3;
    --dropdown-items: 6;
}

.destination {
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.destination:nth-child(odd)>.description {
    transform: translateX(100%);
}

.description {
    background-color: #8dc2c25b;
    backdrop-filter: blur(8px);
    padding: 1em;
}

.description h2 {
    display: inline-block;
    font-size: 1.2rem;
}

.description h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #022a44;
}

.destination label {
    /* color: #fff; */
    font-weight: bold;
}

.description p {
    padding-top: 2em;
}

.destination .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #022a44;
}

.destination button {
    display: block;
    margin-top: 2em;
    padding: 1.2em 3em;
    background-color: #022a44;
    color: #fff;
    border-radius: 4px;
}

.destination button:hover {
    background-color: #022a44de;
}


/* Booking */

.booking {
    background-color: #8dc2c25b;
    padding-top: 85px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking h1 {
    text-transform: capitalize;
}

.tour-info {
    padding: 2em 0 0 1em;
}

.booking label {
    display: block;
    padding: .5em 0;
}

.booking input,
.booking textarea {
    width: 50vw;
    padding-left: 2em;
    border: 1px solid #022a44;
    border-radius: 5px;
    outline: none;
}

.booking textarea {
    padding-top: 1em;
}

.booking input {
    height: 40px;
}

.booking button {
    background-color: #022a44;
    padding: 1.6em 5em;
    color: #fff;
    border-radius: 3px;
}

.booking button:hover {
    opacity: .95;
}